body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 960px;
    margin: auto;
}

header, footer {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.head-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
